<div class="modal modal-form">
    <div class="inner">
        <span class="close"></span>
        <div class="title">
            <h3>Contact me</h3>
            <span>Wichita State University with a BFA in graphic design.</span>
        </div>
        <div class="contact-content">
            <form action="">
                <div class="input">
                    <label>Name</label>
                    <input type="text" placeholder="What is your name?">
                </div>
                <div class="input">
                    <label>Company</label>
                    <input type="text" placeholder="Your company name">
                </div>
                <div class="input">
                    <label>Email</label>
                    <input type="text" placeholder="Your fancy email address here">
                </div>
                <div class="textarea">
                    <label>Message</label>
                    <textarea placeholder="What would you like to tell us?"></textarea>
                </div>
                <button>Send</button>
            </form>
        </div>
    </div>
</div>